---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero-section.astro";
import ServicesSection from "../components/services-section.astro";
import SolutionsSection from "../components/solutions-section.astro";
import AboutUsSection from "../components/about-us-section.astro";
import ClientsSection from "../components/clients-section.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroSection />
    <ServicesSection />
    <SolutionsSection />
    <AboutUsSection />
    <ClientsSection />
  </main>
</Layout>
