---
import Button from "./button.astro";
---

<section class="wrapper flex justify-around items-center my-20">
  <div class="space-y-4 max-w-[40ch]">
    <h2 class="font-bold text-4xl">
      Our <span class="text-primary">Agency</span>
    </h2>
    <p class="text-muted-foreground">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ad
      perspiciatis molestias consequatur, at saepe illum necessitatibus fuga
      facere ea incidunt ducimus deleniti aliquam ab blanditiis labore earum
      atque voluptas.
    </p>

    <Button>Read more</Button>
  </div>

  <img
    src="/public/illustrations/about-us-illustration.svg"
    alt="illustration"
    class="w-1/2 aspect-video"
  />
</section>
