---
import { RevealFromBottom } from "./animations/reveal-from-bottom";
import TestimonialsComponent from "./testimonials.astro";
---

<section class="wrapper mt-20 mb-32 flex flex-col items-center gap-2">
  <RevealFromBottom client:load className="text-center">
    <Fragment>
      <h2 class="text-4xl font-bold">
        What <span class="text-primary">Clients</span> Say!
      </h2>

      <p class="text-muted-foreground mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, enim
        fugit fugiat sapiente modi itaque blanditiis, quibusdam, dolorum,
        voluptatum molestias, quia
      </p>
    </Fragment>
  </RevealFromBottom>

  <RevealFromBottom client:load delay={0.3}>
    <TestimonialsComponent />
  </RevealFromBottom>
</section>
