---
import TestimonialsComponent from "./testimonials.astro";
---

<section class="wrapper my-20 flex flex-col items-center gap-2">
  <h2 class="text-4xl font-bold">
    What <span class="text-primary">Clients</span> Say!
  </h2>

  <p class="text-muted-foreground text-center mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, enim fugit
    fugiat sapiente modi itaque blanditiis, quibusdam, dolorum, voluptatum
    molestias, quia
  </p>

  <TestimonialsComponent />
</section>
