---
import Button from "./button.astro";
import StarIcon from "../icons/star.astro";

import { RevealFromLeft } from "./animations/reveal-from-left";
import { RevealFromRight } from "./animations/reveal-from-right";
---

<section
  class="wrapper flex max-md:flex-col gap-12 my-20 justify-center max-md:text-center md:justify-between items-center"
  id="hero"
>
  <RevealFromLeft client:load>
    <div class="space-y-2 max-w-[50ch]">
      <h1 class="text-4xl md:text-5xl font-bold">
        Big title here <span
          class="bg-gradient-to-r from-black to-orange-600 text-transparent bg-clip-text"
          >with some color</span
        >
      </h1>
      <p class="text-muted-foreground md:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas culpa
        quam harum quasi quos dignissimos quidem, molestias distinctio eveniet?
        Quos
      </p>

      <div class="space-y-1">
        <Button className="mt-2">Call to action</Button>
        <div class="flex items-center max-md:justify-center gap-2">
          <!-- Stars container -->
          <div class="flex gap-1 ml-1">
            <StarIcon class="size-3 fill-orange-300 stroke-neutral-700" />
            <StarIcon class="size-3 fill-orange-300 stroke-neutral-700" />
            <StarIcon class="size-3 fill-orange-300 stroke-neutral-700" />
            <StarIcon class="size-3 fill-orange-300 stroke-neutral-700" />
            <StarIcon class="size-3 stroke-neutral-700" />
          </div>
          <p class="text-gray-400 text-sm">Based in +5000 ratings</p>
        </div>
      </div>
    </div>
  </RevealFromLeft>

  <RevealFromRight client:load className="w-1/2 flex justify-end">
    <img
      src="/illustrations/phone-illustration.svg"
      alt="Illustration"
      class="object-contain w-full lg:w-2/3"
    />
  </RevealFromRight>
</section>
