---
import Button from "./button.astro";
import DiamondIcon from "../icons/diamond.astro";

const navLinks = [
  {
    text: "Home",
    href: "#hero",
  },
  {
    text: "Services",
    href: "#services",
  },
  {
    text: "Solutions",
    href: "#solutions",
  },
  {
    text: "About us",
    href: "#about-us",
  },
  {
    text: "Clients",
    href: "#clients",
  },
  {
    text: "Contact us",
    href: "#contact-us",
  },
];
---

<header class="wrapper flex justify-between items-center py-8">
  <div class="flex items-center gap-2">
    <DiamondIcon class="size-6 text-primary" />
    <h1 class="font-semibold text-xl">Brand name</h1>
  </div>
  <nav class="space-x-4">
    {
      navLinks.map((link) => (
        <a href={link.href} class="hover:text-primary duration-200">
          {link.text}
        </a>
      ))
    }
  </nav>
  <Button>Sign up</Button>
</header>
