---
import TimelineItem from "./timeline-item.astro";
---

<div>
  <TimelineItem
    number="1"
    title="Contact us"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis."
  />
  <TimelineItem
    number="2"
    title="Consult"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  />
  <TimelineItem
    number="3"
    title="Place order"
    description="Lorem ipsum dolor sit adipisicing elit."
  />
  <TimelineItem
    number="4"
    title="Payment"
    description="Lorem ipsum dolor sit amet consectetur. Omnis."
    isLast
  />
</div>
